.login-form {
    box-shadow: 0 1px 10px #ddd;
    padding: 25px 40px;
    margin-top: 20px;
    border-radius: 10px;

    .title {
        text-align: center;
        padding-bottom: 20px;
        font-size: 30px;
    }
    
    .login-forgot {
        float: right;
        cursor: pointer;
        color: #1677ff;
        padding-left: 20px;
    
        &:hover {
            opacity: 0.8;
        }
    }

    .login-link {
        cursor: pointer;
        color: #1677ff;
    
        &:hover {
            opacity: 0.8;
        }
    }
}