.title {
    text-align: center;
    padding: 20px 0;
    font-family: 'Ysabeau Infant', sans-serif;

    span {
        position: relative;
        display: inline-block;
        font-size: 28px;
        text-transform: capitalize;
        font-weight: 500;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: #000;
        }
    }
}