@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;

    .logo-text {
        text-decoration: none;
        color: #000;
    }
}